<main class="container">
    <app-layout-header [headerTitle]="layoutTitle">
        <div headerAction>
            <ng-content select="app-remove-button"></ng-content>
        </div>
    </app-layout-header>
    <form [formGroup]="form" (ngSubmit)="save.emit()">
        <ng-content></ng-content>
        <mat-divider></mat-divider>
        <div class="action-bar content-end">
            <button mat-button type="button" (click)="cancel.emit()">Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.pristine">Save</button>
        </div>
    </form>
</main>
